/data
/datatemplates_c
/db
/docs
/fonts
/images
/include

/upgrade
/javascripts
/jpgraph
/moodle
/OLE
/open_flash_chart
/phpMyAdmin
/pnadodb
/Spreadsheet
/templates
/themes
/tools

/login.php
/open-flash-chart.swf
/pass_img.php
/phpinfo.php
/rlogin.php
/robots.txt
/sfs-release.php
/upgrade.txt

/.htaccess
/COPYING.txt
/ChangeLog
/GRCA.crt
/MOICA.crt
/Readme.txt
/SFS3看板-1-SMALL.jpg
/SFS3看板-2-SMALL.jpg
/WEB_INSTALL_README
/err_home_ip.php
/getCDC.jar
/getCDC_gca.jar
/index.php
/install.php
/modules/absent
/modules/academic_record
/modules/action
/modules/address_book
/modules/all_name_form
/modules/artical
/modules/authentication
/modules/authentication_class
/modules/12basic_career
/modules/12basic_tcntc
/modules/12basic_ylc
/modules/career_leader
/modules/career_race
/modules/chang_root
/modules/backup
/modules/board
/modules/board_man
/modules/book
/modules/book_query
/modules/calendar
/modules/charge
/modules/charge_class
/modules/chc_basic12
/modules/chc_edu
/modules/chc_leader
/modules/chpass
/modules/cita
/modules/class_all_address
/modules/class_health
/modules/class_report
/modules/class_score_report
/modules/class_things
/modules/contest_student
/modules/contest_teacher
/modules/copy_setup
/modules/course_paper
/modules/create_data
/modules/csrc
/modules/curriculum_xml
/modules/database_info
/modules/docup
/modules/docword
/modules/edu_chart
/modules/health
/modules/edusoft
/modules/elective
/modules/elps_cal
/modules/elps_sport
/modules/every_year_setup
/modules/exam
/modules/fitness
/modules/fix_tool
/modules/fixed
/modules/graduate
/modules/graduate_score
/modules/grant_aid
/modules/headth_act_data
/modules/learning
/modules/lend
/modules/lend_request
/modules/lunch
/modules/lunch_feedback
/modules/magazine
/modules/parent_start
/modules/message_exchange
/modules/mig
/modules/module_maker
/modules/month_exam_paper
/modules/netstate
/modules/new_board
/modules/new_compclass
/modules/new_course
/modules/news
/modules/newsmig
/modules/online_form
/modules/our_blog
/modules/parent
/modules/parent_pass
/modules/score_input_all_new
/modules/photoview
/modules/read_card
/modules/reg_month_exam_paper
/modules/rent
/modules/reward
/modules/salary
/modules/school_calendar
/modules/school_report
/modules/school_setup
/modules/score_certi
/modules/score_chart
/modules/score_input
/modules/score_input_all
/modules/score_input_interface
/modules/score_list
/modules/score_manage
/modules/stud_basic_test
/modules/score_manage_new
/modules/score_nor
/modules/score_paper
/modules/score_query
/modules/score_stage_chart
/modules/seme_score_input
/modules/semester_score
/modules/sfs_man2
/modules/sfs_text
/modules/sfs3_blog
/modules/sign_act
/modules/simulation
/modules/spec_test
/modules/stage_score_new
/modules/stud_base
/modules/stud_eduh_self
/modules/stud_check
/modules/stud_class
/modules/stud_class_2
/modules/stud_club
/modules/stud_compile
/modules/stud_data_get
/modules/stud_eduh
/modules/stud_eduh_count
/modules/stud_id_card
/modules/stud_eduh_teacher
/modules/stud_goodbad
/modules/stud_grade
/modules/stud_grade_class
/modules/stud_guidance
/modules/stud_guidance_tea
/modules/stud_sign
/modules/stud_kind_list
/modules/stud_list
/modules/stud_move
/modules/stud_move_view
/modules/stud_pass
/modules/stud_pass_show
/modules/stud_query
/modules/stud_reg
/modules/stud_report
/modules/stud_score_query
/modules/stud_search
/modules/stud_service
/modules/teacher_self
/modules/stud_sta
/modules/stud_subkind
/modules/stud_top
/modules/stud_year
/modules/system
/modules/teach_class
/modules/teach_report
/modules/teach_report_more
/modules/teacher_absent
/modules/teacher_absent_admin
/modules/teacher_pass
/modules/web_hd
/modules/team_sign_up
/modules/temp_compile
/modules/tnc_teach_class
/modules/toxml
/modules/trans_data
/modules/index.php
/dataModule_Path.txt
