/data
/datatemplates_c
/db
/docs
/fonts
/images
/include

/upgrade
/javascripts
/jpgraph
/modules
/moodle
/OLE
/open_flash_chart
/phpMyAdmin
/pnadodb
/Spreadsheet
/templates
/themes
/tools

/login.php
/open-flash-chart.swf
/pass_img.php
/phpinfo.php
/rlogin.php
/robots.txt
/sfs-release.php
/upgrade.txt

/.htaccess
/COPYING.txt
/ChangeLog
/GRCA.crt
/MOICA.crt
/Readme.txt
/SFS3看板-1-SMALL.jpg
/SFS3看板-2-SMALL.jpg
/WEB_INSTALL_README
/err_home_ip.php
/getCDC.jar
/getCDC_gca.jar
/index.php
/install.php
